<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapperL.RoomlistMapper">
	<select id="adminrooms" resultType="rooms" parameterType="hashmap">
		select * from rooms 
		where house_num=#{house_num}
	</select>
</mapper>