<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapper.MD.BusinessMapper">

<!-- 로그인시 존재하는 사업자인지 체크 -->
<select id="login" parameterType="hashmap" resultType="hashmap">
 select * from business_join where business_id=#{bid} and business_pwd=#{bpwd}
</select>

<!-- 맨처음 등록은 업태테이블  -->
	<insert id="insert" parameterType="hashmap" >
	insert into house VALUES(#{house_num},#{bnum},#{intro},#{checkintime},#{checkouttime},
	 #{company},#{license},#{ceo},#{orgaddr},#{workplace},#{com_tel},'1',#{bid})
	</insert>

	<insert id="inamenities" parameterType="test.app.project.vo.AmenitiesVo" >
		insert into amenities values(amenities_seq.nextval,#{amenities_name},#{amenities_content},#{orgfilename},#{savefilename})
	</insert>

	<insert id="inroom" parameterType="rooms">
		insert into rooms values(rooms_seq.nextval,#{house_num},#{roomname},#{room_price},#{room_info},0,#{max_Personnel})
	</insert>
	<select id="selrnum"  parameterType="String" resultType="int">
		select room_num from rooms where roomname=#{rname}
	</select>
		<insert id="inroomimg" parameterType="test.app.project.vo.RoomsImgVo">
		insert into rooms_img values(rooms_img_seq.nextval,#{room_num},#{room_org_name},#{room_save_name})
	</insert>
	<delete id="roomimgdel" parameterType="int" >
		delete rooms_img where room_num=#{room_num}
	</delete>
	<delete id="roomdel" parameterType="int" >
		delete rooms where room_num=#{room_num}
	</delete>
	<select id="selroominfo"  parameterType="int" resultType="hashmap">
		select * from rooms r,rooms_img i where r.room_num=i.room_num and r.room_num=#{room_num}
	</select>
	<update id="updateroom" parameterType="test.app.project.vo.RoomsVo">
		update rooms set roomname=#{roomname},room_price=#{room_price},room_info=#{room_info},max_personnel=#{max_Personnel} where room_num=#{room_num}
	</update>
	<select id="roomlistAll" parameterType="int"   resultType="hashmap">
		select *  from rooms r,house h where h.house_num=r.house_num and h.approval=1 and h.house_num=#{house_num}
	</select>
	
	<!-- 사업자 아이디로 검색한 업체수 얻기 -->
	<select id="housecnt" parameterType="hashmap" resultType="int">
		select nvl(count(*),0) from house
		where business_id=#{bbid}
	</select>
	
</mapper>









