<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--
	<typeAliases>
		<typeAlias type="test.app.spring11.vo.BoardVo" alias="board"/>
	</typeAliases>
	<mappers>
		<mapper resource="test/app/mybatis/mapper/BoardMapper.xml"/>
	</mappers>
-->
	<typeAliases>
		<typeAlias type="test.app.project.vo.MembersVo" alias="members"/>
		<typeAlias type="test.app.project.vo.QnaboardVo" alias="qnaboard"/>
		<typeAlias type="test.app.project.vo.CouponVo" alias="coupon"/>
		<typeAlias type="test.app.project.vo.PaymentVo" alias="pay"/>
		<typeAlias type="test.app.project.vo.HouseVo" alias="house"/>
		<typeAlias type="test.app.project.vo.RoomsVo" alias="rooms"/>
		<typeAlias type="test.app.project.vo.NoticeVo" alias="notice"/>
		<typeAlias type="test.app.project.vo.AmenitiesVo" alias="AmenitiesVo"/>
		<typeAlias type="test.app.project.vo.BusinessVo" alias="Business"/>
	</typeAliases>

	<mappers>
		<mapper resource="test/app/mybatis/mapper/p/MembersMapper.xml"/>
		<mapper resource="test/app/mybatis/mapperY/AdminMapper.xml"/>
		<mapper resource="test/app/mybatis/mapperL/PayMapper.xml"/>
		<mapper resource="test/app/mybatis/mapperL/CouponMapper.xml"/>
		<mapper resource="test/app/mybatis/mapperL/RoomlistMapper.xml"/>
		<mapper resource="test/app/mybatis/mapper/k/productMapper.xml"/>
		<mapper resource="test/app/mybatis/mapper/p/NoticeMapper.xml"/>
		<mapper resource="test/app/mybatis/mapper/MD/BusinessMapper.xml"/>
		<mapper resource="test/app/mybatis/mapperY/BusinessYMapper.xml"/>
	</mappers>
</configuration>  
  
  