<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapper.k.productMapper">
	<select id="roomsList" parameterType="hashmap" resultType="rooms">
		select 
			r.* 
		from
		(
			select 
				trunc(hh.avg,1) avg,hh.room_price, h.company, h.workplace, hi.house_save_name 
			from 
				house h, house_img hi,
			    	(select 
			    		h.house_num, nvl(avg((kindness+clean+convenience)/3),0) avg,min(r.room_price) room_price
			    	from 
			    		house h, rooms r, review rv, house_img hi
			   		where 
			   			h.house_num=r.house_num(+) and r.room_num=rv.room_num(+) and not r.room_price is null
			    	group by 
			    		h.house_num) hh
			where 
				hh.house_num=h.house_num and h.house_num=hi.house_num(+)
		) r
		<choose>
			<when test="sort != and sort.equals('price')">
				
			</when>
		</choose>
	</select>
	
</mapper>














