<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapperY.AdminMapper">
	<!--관리자로그인 -->
	<select id="login" parameterType="hashmap" resultType="hashmap">
		select * from administrator where aid=#{aid} and apwd=#{apwd}
	</select>
	<!-- 업체관련 -->
	<select id="listAll"  parameterType="String" resultType="hashmap">
		select * from house a,b_event b where a.approval=1 and a.bnum=b.bnum
	</select>
	<delete id="deletehouse" parameterType="int" >
		delete house where house_Num=#{house_Num}
	</delete>
	<select id="applistAll" parameterType="String"   resultType="hashmap">
		select * from house a,b_event b where a.approval=0 and a.bnum=b.bnum
	</select>
	<update id="appupdate" parameterType="int" >
		update house set approval=1 where house_Num=#{house_Num}
	</update>
	<update id="appfail" parameterType="int" >
		update house set approval=2 where house_Num=#{house_Num}
	</update>
	<delete id="appdelete" parameterType="int" >
		delete house where house_Num=#{house_Num}
	</delete>
	<delete id="himgdelete" parameterType="int" >
		delete house_img where house_Num=#{house_Num}
	</delete>
	<delete id="hintrodelete" parameterType="int" >
		delete houseintro where house_Num=#{house_Num}
	</delete>
	<!-- 공지사항 -->
	<select id="nlistAll"  resultType="test.app.project.vo.NoticeVo">
		select * from notice
	</select>
	<insert id="wnotice" parameterType="hashmap" >
		insert into notice values(notice_seq.nextval,#{ntitle},#{ncontent},sysdate)
	</insert>
	<delete id="noticedelete" parameterType="int" >
		delete notice where nnum=#{nnum}
	</delete>
	<select id="nlist"  parameterType="int" resultType="test.app.project.vo.NoticeVo">
		select * from notice where nnum=#{nnum}
	</select>
	<update id="upnotice" parameterType="test.app.project.vo.NoticeVo">			
		update notice set ntitle=#{ntitle},ncontent=#{ncontent} where nnum=#{nnum}
	</update>
	<!-- 이벤트 -->
	<select id="elistAll"  resultType="test.app.project.vo.EventVo">
		select * from event
	</select>
	<select id="seleventinfo"  parameterType="int" resultType="hashmap">
		select e.event_num,e.etitle,to_char(e.eregdate,'yyyy-mm-dd') eregdate,to_char(e.estartdate,'yyyy-mm-dd') 
		estartdate,to_char(e.eenddate,'yyyy-mm-dd') eenddate,e.ehit,ei.orgfilename,ei.savefilename from event e,eventimages ei where e.event_num=ei.event_num and ei.event_num=#{event_Num}
	</select>
	<select id="imginfo"  parameterType="int" resultType="String">
		select savefilename from eventimages where event_num=#{event_Num} 
	</select>
	<update id="hitup" parameterType="int">
		update event set ehit=ehit+1 where event_num=#{event_Num}
	</update>
	<delete id="eventdelete" parameterType="int" >
		delete event where event_Num=#{event_Num}
	</delete>
	<delete id="eventimgdelete" parameterType="int" >
		delete eventimages where event_Num=#{event_Num}
	</delete>
	<insert id="inevent" parameterType="test.app.project.vo.EventVo">
		insert into event values(event_seq.nextval,#{etitle},sysdate,0,#{estartdate},#{eenddate})
	</insert>
	<insert id="ineventimg" parameterType="test.app.project.vo.EventimagesVo">
		insert into eventimages values(eventimages_seq.nextval,#{orgfilename},#{savefilename},#{event_Num})
	</insert>
	<select id="selenum"  parameterType="String" resultType="int">
		select event_num from event where etitle=#{etitle}
	</select>
	<select id="selevent"  parameterType="int" resultType="hashmap">
		select e.event_num,e.etitle,to_char(e.eregdate,'yyyy-mm-dd') eregdate,to_char(e.estartdate,'yyyy-mm-dd') estartdate,to_char(e.eenddate,'yyyy-mm-dd') 
		eenddate,e.ehit,ei.orgfilename,ei.savefilename from event e,eventimages ei where e.event_num=ei.event_num and ei.event_num=#{event_Num}
	</select>
	<update id="upevent" parameterType="test.app.project.vo.EventVo">
		update event set etitle=#{etitle},estartdate=#{estartdate},eenddate=#{eenddate} where event_num=#{event_Num}
	</update>
	<!-- 편의시설-->
	<insert id="inamenities" parameterType="test.app.project.vo.AmenitiesVo" >
		insert into amenities values(amenities_seq.nextval,#{amenities_name},#{amenities_content},#{orgfilename},#{savefilename})
	</insert>
	<select id="allamenities" resultType="hashmap">
		select *  from amenities
	</select>
	<select id="selanum" parameterType="String" resultType="int">
		select amenities_num from amenities where amenities_name=#{aname}
	</select>
	<insert id="inserthouseintro" parameterType="test.app.project.vo.HouseintroVo" >
		insert into houseintro values(houseintro_seq.nextval,#{house_num},#{amenities_num})
	</insert>
	<!-- faq -->
	<select id="flistAll"  resultType="test.app.project.vo.FaqVo">
		select * from faq
	</select>
	<insert id="wfaq" parameterType="hashmap" >
		insert into faq values(faq_seq.nextval,#{ftitle},#{fcontent},#{fcnum})
	</insert>
	<delete id="faqdelete" parameterType="int" >
		delete faq where fnum=#{fnum}
	</delete>
	<!-- faq -->
	<select id="qlistAll"  resultType="test.app.project.vo.QnaboardVo">
		select * from qnaboard where anwser is null
	</select>
	<select id="selqnalist" parameterType="int" resultType="test.app.project.vo.QnaboardVo" >
		select * from qnaboard where qna_num=#{qna_num}
	</select>
	<update id="wqna" parameterType="test.app.project.vo.QnaboardVo">
		update qnaboard set anwser=#{anwser},anwser_date=sysdate where qna_num=#{qna_num}
	</update>
</mapper>





