<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapperY.AdminMapper">
	<!--관리자로그인 -->
	<select id="login" parameterType="hashmap" resultType="hashmap">
		select * from administrator where aid=#{aid} and apwd=#{apwd}
	</select>
	<!-- 업체관련 -->
	<select id="listAll"  parameterType="String" resultType="hashmap">
		select * from house a,b_event b where a.approval=1 and a.bnum=b.bnum
	</select>
	<delete id="deletehouse" parameterType="int" >
		delete house where house_Num=#{house_Num}
	</delete>
	<select id="applistAll" parameterType="String"   resultType="hashmap">
		select * from house a,b_event b where a.approval=0 and a.bnum=b.bnum
	</select>
	<update id="appupdate" parameterType="int" >
		update house set approval=1 where house_Num=#{house_Num}
	</update>
	<delete id="appdelete" parameterType="int" >
		delete house where house_Num=#{house_Num}
	</delete>
	<!-- 공지사항 -->
	<select id="nlistAll"  resultType="test.app.project.vo.NoticeVo">
		select * from notice
	</select>
	<insert id="wnotice" parameterType="hashmap" >
		insert into notice values(notice_seq.nextval,#{ntitle},#{ncontent},sysdate)
	</insert>
	<delete id="noticedelete" parameterType="int" >
		delete notice where nnum=#{nnum}
	</delete>
	<select id="nlist"  parameterType="int" resultType="test.app.project.vo.NoticeVo">
		select * from notice where nnum=#{nnum}
	</select>
	<update id="upnotice" parameterType="test.app.project.vo.NoticeVo">			
		update notice set ntitle=#{ntitle},ncontent=#{ncontent} where nnum=#{nnum}
	</update>
	<!-- 이벤트 -->
	<select id="elistAll"  resultType="test.app.project.vo.EventVo">
		select * from event
	</select>
	<select id="seleventinfo"  parameterType="int" resultType="hashmap">
		select e.event_num,e.etitle,to_char(e.eregdate,'yyyy-mm-dd') eregdate,to_char(e.estartdate,'yyyy-mm-dd') estartdate,to_char(e.eenddate,'yyyy-mm-dd') eenddate,e.ehit,ei.orgfilename,ei.savefilename from event e,eventimages ei where e.event_num=ei.event_num and ei.event_num=#{event_Num}
	</select>
	<select id="imginfo"  parameterType="int" resultType="hashmap">
		select * from eventimages where event_num=#{event_Num} 
	</select>
	<update id="hitup" parameterType="int">
		update event set ehit=ehit+1 where event_num=#{event_Num}
	</update>
	<delete id="eventdelete" parameterType="int" >
		delete event where event_Num=#{event_Num}
	</delete>
	<delete id="eventimgdelete" parameterType="int" >
		delete eventimages where event_Num=#{event_Num}
	</delete>
	<insert id="inevent" parameterType="test.app.project.vo.EventVo">
		insert into event values(event_seq.nextval,#{etitle},sysdate,0,#{estartdate},#{eenddate})
	</insert>
	<insert id="ineventimg" parameterType="test.app.project.vo.EventimagesVo">
		insert into eventimages values(eventimages_seq.nextval,#{orgfilename},#{savefilename},#{event_Num})
	</insert>
	<select id="selenum"  parameterType="String" resultType="int">
		select event_num from event where etitle=#{etitle}
	</select>
	<select id="selevent"  parameterType="int" resultType="hashmap">
		select e.event_num,e.etitle,to_char(e.eregdate,'yyyy-mm-dd') eregdate,to_char(e.estartdate,'yyyy-mm-dd') estartdate,to_char(e.eenddate,'yyyy-mm-dd') eenddate,e.ehit,ei.orgfilename,ei.savefilename from event e,eventimages ei where e.event_num=ei.event_num and ei.event_num=#{event_Num}
	</select>
	<update id="upevent" parameterType="test.app.project.vo.EventVo">
		update event set etitle=#{etitle},estartdate=#{estartdate},eenddate=#{eenddate} where event_num=#{event_Num}
	</update>
	<!-- 편의시설-->
	<insert id="inamenities" parameterType="test.app.project.vo.AmenitiesVo" >
		insert into amenities values(amenities_seq.nextval,#{amenities_name},#{amenities_content},#{orgfilename},#{savefilename})
	</insert>
	<select id="allamenities" resultType="hashmap">
		select *  from amenities
	</select>
	<select id="selanum" parameterType="String" resultType="int">
		select amenities_num from amenities where amenities_name=#{aname}
	</select>
	<insert id="inserthouseintro" parameterType="test.app.project.vo.HouseintroVo" >
		insert into houseintro values(houseintro_seq.nextval,#{house_num},#{amenities_num})
	</insert>
	<!-- 객실-->
	<select id="roomlistAll" parameterType="int"   resultType="hashmap">
		select *  from rooms r,house h where h.house_num=r.house_num and h.approval=1 and h.house_num=#{house_num}
	</select>
	<insert id="inroom" parameterType="test.app.project.vo.RoomsVo">
		insert into rooms values(rooms_seq.nextval,#{house_num},#{roomname},#{room_price},#{room_info},0,#{max_Personnel})
	</insert>
	<select id="selrnum"  parameterType="String" resultType="int">
		select room_num from rooms where roomname=#{rname}
	</select>
	<insert id="inroomimg" parameterType="test.app.project.vo.RoomsImgVo">
		insert into rooms_img values(rooms_img_seq.nextval,#{room_num},#{room_org_name},#{room_save_name})
	</insert>
	<delete id="roomimgdel" parameterType="int" >
		delete rooms_img where room_num=#{room_num}
	</delete>
	<delete id="roomdel" parameterType="int" >
		delete rooms where room_num=#{room_num}
	</delete>
	<select id="selroominfo"  parameterType="int" resultType="hashmap">
		select * from rooms r,rooms_img i where r.room_num=i.room_num and r.room_num=#{room_num}
	</select>
	<update id="updateroom" parameterType="test.app.project.vo.RoomsVo">
		update rooms set roomname=#{roomname},room_price=#{room_price},room_info=#{room_info},max_personnel=#{max_Personnel} where room_num=#{room_num}
	</update>
</mapper>





