<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapperY.BusinessMapper">
	<!-- 편의시설-->
	<insert id="inamenities" parameterType="test.app.project.vo.AmenitiesVo" >
		insert into amenities values(amenities_seq.nextval,#{amenities_name},#{amenities_content},#{orgfilename},#{savefilename})
	</insert>
	<select id="allamenities" resultType="hashmap">
		select *  from amenities
	</select>
	<select id="selanum" parameterType="String" resultType="int">
		select amenities_num from amenities where amenities_name=#{baname}
	</select>
	<insert id="inserthouseintro" parameterType="test.app.project.vo.HouseintroVo" >
		insert into houseintro values(houseintro_seq.nextval,#{house_num},#{amenities_num})
	</insert>
	<delete id="delha" parameterType="int" >
		delete houseintro where house_num=#{hnum}
	</delete>
	<!-- 객실-->
	<select id="roomlistAll" parameterType="int"   resultType="hashmap">
		select *  from rooms r,house h where h.house_num=r.house_num and h.approval=1 and h.house_num=#{house_num}
	</select>
	<select id="rimginfo"  parameterType="int" resultType="String">
		select room_save_name from rooms_img where room_num=#{room_num} 
	</select>
	<insert id="inroom" parameterType="test.app.project.vo.RoomsVo">
		insert into rooms values(rooms_seq.nextval,#{house_num},#{roomname},#{room_price},#{room_info},1,#{max_Personnel})
	</insert>
	<select id="selrnum"  parameterType="test.app.project.vo.RoomsVo" resultType="int">
		select room_num from rooms where roomname=#{roomname} and house_num=#{house_num} and room_price=#{room_price} and room_info=#{room_info}
	</select>
	<insert id="inroomimg" parameterType="test.app.project.vo.RoomsImgVo">
		insert into rooms_img values(rooms_img_seq.nextval,#{room_num},#{room_org_name},#{room_save_name})
	</insert>
	<delete id="roomimgdel" parameterType="int" >
		delete rooms_img where room_num=#{room_num}
	</delete>
	<delete id="roomdel" parameterType="int" >
		delete rooms where room_num=#{room_num}
	</delete>
	<select id="selroominfo"  parameterType="int" resultType="hashmap">
		select * from rooms r,rooms_img i where r.room_num=i.room_num and r.room_num=#{room_num}
	</select>
	<update id="updateroom" parameterType="test.app.project.vo.RoomsVo">
		update rooms set roomname=#{roomname},room_price=#{room_price},room_info=#{room_info},max_personnel=#{max_Personnel} where room_num=#{room_num}
	</update>
	<!-- 사업자 개인정보 조회 -->
	<select id="biflist"  parameterType="String" resultType="hashmap">
		select * from house h,business_join j where h.business_id=j.business_id and j.business_id=#{id}
	</select>
	<update id="inupbinfo" parameterType="hashmap">
		update house set ceo=#{bname},company=#{bcompany},license=#{blicense},workplace=#{bworkplace},com_tel=#{bcom_tel} where business_id=#{bid}
	</update>
	<update id="inupbjinfo" parameterType="map">
		update business_join set business_email=#{bemail} where business_id=#{bid}
	</update>
	<!-- 업체 -->
	<select id="selhnum"  parameterType="String" resultType="int">
		select h.house_num from business_join j,house h where j.business_id=h.business_id and j.business_id=#{bid}
	</select>
	<!-- 사업자 아이디 체크 -->
	<select id="selbid"  parameterType="String" resultType="String">
		select business_id from business_join where business_id=#{bid}
	</select>
	<!-- 사업자 가입 체크 -->
	<insert id="joinbusiness"  parameterType="hashmap">
		insert into business_join values(#{bid},#{bpwd},#{bemail})
	</insert>
</mapper>





