<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.app.mybatis.mapper.p.PaymentMapper">
	<!-- 예약 테이블 insert -->
	<insert id="bookingInsert" parameterType="payment">
	
		INSERT INTO booking_table VALUES(booking_seq.nextval,
									#{room_num},
									#{mid},
									#{pay_money},
									sysdate,
									TO_DATE(#{start_date},'yyyy/mm/dd'),
									TO_DATE(#{end_date},'yyyy/mm/dd'),
									'예약완료',
									#{name})
		
		<selectKey keyProperty="booking_num" resultType="int" order="AFTER"> 
		
			SELECT booking_seq.currval FROM dual 
		
		</selectKey>

	</insert>
	<!-- 결제테이블 insert -->
	<insert id="paymentInsert" parameterType="hashmap">
		<choose>
			<when test="coupon_num == null">
				INSERT INTO payment VALUES(payment_seq.nextval,#{booking_num},null,#{pay},sysdate,#{payment_type})
			</when>
			<otherwise>
				INSERT INTO payment VALUES(payment_seq.nextval,#{booking_num},#{coupon_num},#{pay},sysdate,#{payment_type})
			</otherwise>
		</choose>
		
	</insert>
	
	<!-- 쿠폰 목록 가져오기 -->
	<select id="couponSelect" resultType="coupon" parameterType="String">
	
		SELECT * FROM coupon WHERE mid=#{mid} AND coupon_status = '사용안함'
	
	</select>
	
	<update id="couponUpdate" parameterType="hashmap">
	
		UPDATE coupon SET coupon_status = '사용함' WHERE coupon_num = #{coupon_num}
	
	</update>
	
</mapper>