@CHARSET "UTF-8";
	span {cursor:pointer; }
		.minus, .plus{
			height:34px;
    	  width: 34px;
			border-radius:4px;
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:34px;
    	  width: 34px;
      text-align: center;
      font-size: 26px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
	}
			